<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("css", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

@{
    Html.RenderPartial("_PartialHeader");
}
<!-- Left side column. contains the logo and sidebar -->

@{
    Html.RenderPartial("_PartialSideBar");
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Header
        </h1>
        @RenderSection("links", false)
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.TableHeader</h3>
                        @RenderSection("add", false)
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @RenderBody()
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@{
    Html.RenderPartial("_PartialFooter");
}
</div>
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script src="~/Content/DashboardTemplate/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/Content/DashboardTemplate/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/Content/DashboardTemplate/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/DashboardTemplate/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/Content/DashboardTemplate/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Content/DashboardTemplate/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/DashboardTemplate/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/DashboardTemplate/dist/js/demo.js"></script>
<!-- page script -->
<script>
    $(function() {
        $('#dataTable')
            .DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
    });
</script>
</body>
</html>
@RenderSection("scripts", false)